.RecommendedFriends{
    width: 40%;
    margin: 0 auto;
    background: #ddd;
    padding: 15px ;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.text-left{
    
}
.text-left p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    text-align: center;

    color: #999999;
}
.text-right p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    /* identical to box height */

    text-align: center;

    color: #262626;
}